<div [@transitionReveal]="{value:_mTriggerAnim, params: {animDelay: 500}}" class="main tb-position--relative tb-overflow--hidden" ngClass.xs="xs" ngClass.sm="sm"  #animRefView>
    <div class="tb-container--stretched">
      <div class="background-bar">
      </div>
    </div>
  
    <div class="footer tb-container tb-position--relative" fxLayout="column">
  
      <div class="tb-height--48"> </div>
  
      <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutGap.lt-md="12px">
  
        <div class="company" fxFlex fxFlex.lt-md="none" fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="12px">
         
          <h5 class="company-name tb-color--black-38 tb-typo--h5" ngClass.xs="xs">Designed in <span class="tb-color--black">Figma</span>. Developed in <span class="tb-color--black">Angular</span>
          </h5>
  
        </div>
  
        <div class="navigation-area " fxLayout="row">
          <a class="" href="https://github.com/hubert-wong" target="_blank" matTooltip="github">
            <button mat-icon-button>
              <mat-icon svgIcon="github" class="tb-icon--16 tb-color--grey-500"></mat-icon>
            </button>
          </a>
          <div ngClass.gt-sm="tb-padding--h-12" ngClass.lt-md="tb-padding--h-12"></div>
          <a class="" href="https://www.linkedin.com/in/hubert-wong1124/" target="_blank" matTooltip="linkedin">
            <button mat-icon-button>
              <mat-icon svgIcon="linkedin" class="tb-icon--16 tb-color--grey-500"></mat-icon>
            </button>
          </a>
          <div ngClass.gt-sm="tb-padding--h-12" ngClass.lt-md="tb-padding--h-12"></div>
          <a class="" href="https://www.instagram.com/hubwongz/" target="_blank" matTooltip="instagram">
            <button mat-icon-button>
              <mat-icon svgIcon="instagram" class="tb-icon--16 tb-color--grey-500"></mat-icon>
            </button>
          </a>
        </div>
      </div>  
    </div>
  </div>